<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<title>Juan Jose Pauccara</title>
    <meta data-hid="description" name="description" content="Hola, soy un autodidacta apasionado por la tecnología, me gusta estar en constante aprendizaje con ganas de ayudar y demostrar lo aprendido.">
    <meta name="keywords" content="Juan Jose Pauccara Huancara, Juan Jose Pauccara, Juan Jose Pau, Desarrollador web, Programador">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6E7408H6NG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6E7408H6NG');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TRXP4WZR');</script>
      <!-- End Google Tag Manager -->
    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        overflow-x: hidden;
      }
      body::-webkit-scrollbar{
        width: 10px;
      }
      body::-webkit-scrollbar-thumb{
        background: #414141;
        border-radius: 7px;
        border-right: 1px solid white;
        border-left: 1px solid white;
        /* @apply dark:border-stone-900; */
      }
    </style>
	</head>
  <!--bg-stone-900 #171724 -->
	<body class="dark:bg-stone-900">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRXP4WZR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

		<slot />

		<script type="module" src="/src/assets/js/animations.js"></script>
    <script>
      let previousTitle = document.title
      window.addEventListener("blur", () => {
        previousTitle = document.title
        // document.title = "⏰¡No te pierdas por mucho tiempo!"
        document.title = "⏰No tardes mucho en volver..."
      })

      window.addEventListener("focus", () => {
        document.title = previousTitle
      })

    </script>
	</body>
</html>
